/* =========== UNIVERSAL SELECTOR =========== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#cornerBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 100px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #3e4531;
    background-color: #615f6c; 
    color: #3e3d45;
    font-size: 110%;
    font-weight: bold;
    transition: all 300ms;
}
#cornerBtn:hover {
    background-color: #66714f; 
    color: #3e3d45;
    padding: 15px;
}
/* =========== SPECIAL TEXT ================= */
.shadow {
    text-shadow: 3px 3px 15px #f2eadb;
    font-variant: small-caps;
    font-weight: bolder;
}
.emphasis {
    font-size: 130%;
    font-weight: bold;
    font-variant: small-caps;
    color: #3e4531;
}
/*=======================================================
                      HEADER
=======================================================*/
header {
    display: flex;
    border-radius: 10px 10px 0 0;
    align-items: center;
    border-bottom: 3px solid #3e4531;
    padding: 10px;
    background-color: #798169;
    color: #f2eadb;
    position: relative;
    background: linear-gradient(transparent, #3e4531), url(https://i.pinimg.com/originals/22/16/68/221668900c75205f6f2684ba3a39cb11.png);
}
header h2 {
    font-size: 250%;
    font-style: italic;
    color: #f2eadb;
    text-shadow: 9px 9px 20px #414048;
}
header img {
    margin: 2vh;
    max-width: 170px !important;
    min-width: 70px !important;
    width: 100%;
}
header, footer {
    width: 100%;
}
/*=======================================================
                   ROOT ELEMENTS
=======================================================*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #3e4531;
}
/*===============================================
                RIGHT COL ELEMENTS
===============================================*/
#rightcol h3 {
    font-size: 22px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#rightcol {
    display: flex;
    flex-direction: column;
    background-color: #3e4531;
    margin: 1vw;
    padding: 1vw;
    border-radius: 10px;
    border: 1px solid #d8b37e;
    box-shadow: 2px 2px 15px 2px #d8b37e;
    color: #f2eadb;
  }
  
  #rightcol ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #rightcol li {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 5px;
    background-color: #f2eadb;
    text-align: center;
  }
  
  #rightcol li img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  #rightcol li a {
    display: block;
    color: #3e4531;
    text-decoration: none;
  }
  
  #rightcol li a:hover {
    text-decoration: underline;
  }  
/*===============================================
                MAIN ELEMENTS
===============================================*/
main {
    display: flex;
    align-items: flex-start;
}
section {
    flex: 0 1 80%;
}
h1 {
	font-size: 32px;
	margin: 10px;
}
h2 {
	font-size: 24px;
	margin: 10px;
}
h3 {
    text-align: center;
}
h4 {
    font-size: 18px;
    margin: 10px;
}
p {
	margin: 10px;
}
ul {
	list-style: none;
	margin-bottom: 10px;
}
li a {
	color: #006cb7;
	text-decoration: none;
}
li a:hover {
	text-decoration: underline;
}
section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
section li {
    margin: 10px;
    width: calc(33.33% - 20px);
}
section img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
}
section h2 {
    font-size: 24px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
section p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.character-image {
    width: auto;
    height: 200px;
    object-fit: cover;
}
/* ==================================================

       LEFT SIDE NAVIGATION LIST

===================================================*/             
.sidenav {
    width: 200px;
    position: sticky;
    top: 0;
    z-index: 999;
    top: 20px;
    left: 10px;
    background: #66714f3d;
    overflow-x: hidden;
    padding: 8px 0;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: whitesmoke;
    display: block;
    transition: all 300ms;
}
  
.sidenav a:hover {
    color: #414048;
    background-color: #788660;
}
  
.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
/*=======================================================
             NAVIGATION MENU - #nav_menu
=======================================================*/
#nav_menu {
    border-bottom: 3px solid #d8b37e;
    position: relative;
    top: -35px; /* adjust this value as needed */
    background-color: #d8b37e;
    margin: 40px;
    z-index: 997;
}
#nav_menu ul {
    list-style-type: none;
    position: relative;
    justify-content: space-around;
    display: flex;
}
#nav_menu ul li {
    width: 20%;
}
#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: #d8b37e;
    font-weight: bold;
    text-decoration: none;
    color: #414048;
    transition: all 300ms;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 997;
    /* background-color: #d8b37e;  Weirdly long on the right */
}
#nav_menu ul ul li a {
    text-align: left;
    padding-left: 12px;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu a:hover {
    color: white;
    background-color: #414048;
}
article {
    background-color: #dfdbc3;
    border: 3px solid #414048;
    margin: 20px;
}

/*==================================================
                    SLIDE SHOW
==================================================*/ 
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
  
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
/* The dots/bullets/indicators */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/*==================================================
                       FOOTER
==================================================*/ 
footer {
    padding: 3vh 0;
    padding: 10px;
	font-size: 14px;
}
footer p {
    font-size: 130%;
    text-align: center;
    font-variant: small-caps;
    color: #f2eadb;
    border-top: 3px solid #3e4531;
    background-color: #3e4531;
}
#mobilemenu {
    display: none;
}
/*============================================================
                  MEDIA QUERIES
============================================================*/
@media only screen and (max-width: 900px) {
    body {
         font-size: 90%;
    }
    main {
        flex-wrap: wrap;
    }
    section {
        flex: 0 1 55%;
    }
    #leftcol {
        order: 3;
        flex: 0 1 80%;
        justify-content: center;
        margin: 2vh 0;
    }
    header, footer {
        border-radius: 0;
    }
}
@media only screen and (max-width: 767px) {
    section, #rightcol {
        flex: 0 1 95%;
    }
}
@media only screen and (max-width: 479px) {
    #nav_menu ul {
        flex-direction: column;
    }
    #nav_menu ul li {
        width: 100%;
        text-align: center;
    }
    #nav_menu ul li:first-of-type {
        display: none;
    }
    #rightcol {
        flex: 0 1 100%;
        margin: 0;
        padding: 2vw;
        border: none;
        border-radius: 0%;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .prev, .next,.text {font-size: 11px}
}